# Зависимости (их слишком много, pnpm install скачает их сам)
node_modules/

backend/

# Секретные данные (САМОЕ ВАЖНОЕ)
.env
*.env

# Логи и временные файлы
npm-debug.log*
pnpm-debug.log*
dist/
.DS_Store
